*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }

body .Barramenu {
    background-color: solid#B31C1C;
    background: #B31C1C;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
}

body .Barramenu .logo img{
    height: 100px;
    padding-top: 5px;
    padding-left: 80px;
    padding-right: 420px;
}

body .Barramenu .Items {
    font-size: 24px;
    color: #fefefe;
    display: flex;
    flex-wrap: wrap;
    padding-top: 28px;
    padding-left: 540px;
    gap: 90px;
}

body .Contacto {
    align-items: center;
    background-color: solid#591A1A;
    background: #591A1A;
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
}

body .Contacto .Logos {
    padding-left: 100px;

}

body .Contacto .Logo1 {
    padding-bottom: 50px;
    padding-left: 25px;
}

body .Contacto .Logo1 img {
    width: 250px;
}

body .Contacto .Logo2 {
    padding-left: 25px;
    padding-bottom: 50px;
}

body .Contacto .Logo2 img {
    border-radius: 50px;
    width: 250px;
}

body .Contacto .Logo3 img {
    width: 300px;
}

body .Contacto .Descrip {
    padding-left: 100px;
    width: 800px;
}

body .Contacto .Descrip h1 {
    text-align: left;
    width: 600px;
    font-size: 45px;
    color: #fefefe;
    font-style: italic;
}

body .Contacto .Descrip p {
    text-align: left;
    text-justify: auto;
    width: 600px;
    font-size: 30px;
    color: #fefefe;
    padding: 50px;
}


body .pie {
    text-align: center;
    background: #d9d9dd;
    background-color: #d9d9d9;
    height: 114px;
}

body .pie p {
    font-size: 24px;
    padding-top: 50px;
    color: #868686;
}

/*media querie-1360*/


@media only screen and (max-width: 1361px) {

    body .Barramenu .Items {
        padding-top: 25px;
        padding-left: 400px;
    }

}

    /*media querie-1085*/

@media only screen and (max-width: 1086px) {

    body .Barramenu .Items {
        padding-left: 200px;
    }

    body .Barramenu .logo img{
        padding-right: 300px;
    }
    
    body .Contacto {
        height: 2000px;
        width: 100%;
    }
    
    body .Contacto .Logos {
        align-content: center;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        padding-left: 410px;
        padding-bottom: 0;
        width: 100%;
        gap: 0;
        height: 10px;
    }

    body .Contacto .Logo1  {
        padding-bottom: 400px;
    }

    body .Contacto .Logo2  {
        padding-bottom: 250px;
    }

    body .Contacto .Logo3 {
        padding-bottom: 400px;
    }

    body .Contacto .Descrip {
        padding: 0;
        width: 1085px;
        vertical-align: text-top;
    }
    
    body .Contacto .Descrip h1 {
        padding-top: 150px;
        padding-left: 460px;
    }
    
    body .Contacto .Descrip p {
        text-align: center;
        padding-left: 250px;
        padding-bottom: 150px;
    }

}

     /*media querie-1085*/

@media only screen and (max-width: 851px) {

        body .Barramenu .Items {
            padding-left: 100px;
        }
    
        body .Barramenu .logo img {
            padding-right: 200px;
        }

        body .Contacto .Logos {
            padding-left: 300px;
        }
        body .Contacto .Descrip h1 {
            padding-top: 150px;
            padding-left: 330px;
        }
        
        body .Contacto .Descrip p {
            text-align: center;
            padding-left: 130px;
            padding-bottom: 150px;
        }
}
